html, body {
  height: 100%;
  width: 100%;
      font-family: 'Oswald', sans-serif;
    background-color: white;
    text-align: center;
}

img {
    width: 400px;
}



.name{
  font-size:30px;
}

.nameQuestion{
    width: 400px;
    padding: 25px;
    margin: 50px auto;
    border: 5px solid #bbffff;
    border-radius: 20px;
    background-color: white;
    transition: background-color .5s ease-in-out;
    transition: border .2s ease-in-out;
}


.submit {
    background-color: #aaffff;
    padding: 10px;
    font-size: 8px;
    border: none;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.nameQuestion, .container,.submit,  .questionOne, .questionTwo,.result,.sunflower, .daffodil, .violets, .gladiolus {
  display: none;
}


.input {
    border: solid 2px black;
    font-size: 15px;
}

.start, .inside, .out, .submit , input{
  border: solid 2px black;
  font-size: 20px;
}

.second , .third{
  border: solid 2px black;
  font-size: 20px;
  display:none;
}

.fourth , .fifth{
  border: solid 2px black;
  font-size: 20px;
  display:none;
  
}



.results {
    display: none;
   font-size: 30px;
}

.vio , .suns {
  border: solid 3px white;
}

 .glad , .daf {
  border: solid 3px white;
}

.border{
  width:60%;
  border: double 6px black;
  
}


h1{
  font-size:55px;
}

.one{
   background-color:#9bc995;
}


/*
.start{
  position: absolute;
	padding: 16px;
	background-color: white;
	border-radius: 16px black;
	bottom: 10px;
	left: 200px;
	width: 100px;
}

/*
img {
  width: 1000px;
  height: auto;
}

.sixth{
   display:none;
  border-radius: 24px;
  width:250px;
  height:50px;
  background-color:black;
  font-size:19px;
  color:white;
  position:absolute;
  top:0;
  right:0;
}
*/